.dark-theme {
    background-color: #333;
    color: #fff;
  }
  
  .dark-theme .hero-text h1,
  .dark-theme .hero-text p {
    color: #ddd;
  }
  
  .dark-theme .hero-image img {
    filter: brightness(0.8);
  }
  
  .ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #333;
    transition: transform 0.3s ease;
    position: absolute;
    left: 0;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(20px);
  }
  
  .checkbox-label i {
    font-size: 1.5em;
    transition: opacity 0.3s ease;
  }
  
  .checkbox-label .fa-moon {
    opacity: 1;
  }
  
  .checkbox-label .fa-sun {
    opacity: 0;
  }
  
  .checkbox:checked + .checkbox-label .fa-moon {
    opacity: 0;
  }
  
  .checkbox:checked + .checkbox-label .fa-sun {
    opacity: 1;
  }
  
  .hamburger {
    display: none;
  }
  
  @media (max-width: 1000px) {
    .nav_links {
      display: none;
    }
  
    .hamburger {
      display: block;
    }
  }
  